:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 10px 0;
  font-family: "Lato", sans-serif;
  background-image: url(./src/assets/background.png);
  background-size: cover;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: var(--bg-main-color)
}

header h1 {
  margin: 0 0 10px 0;
  text-align: center;
  color: var(--accent-color);
}

/* HeaderNavigation */
header .HeaderNavigation {
  display: flex;
  justify-content: center;
}
header .HeaderNavigation .item-add-button {
  padding: 6px 24px;
  border: none;
  margin: 0 3px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--smokywhite);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  z-index: 11;
  padding: 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* AddModal */
.add-modal {
  background: var(--component-bg-gradient);
  display: flex;
  flex-direction: column;
}

.add-modal .close-button {
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: var(--accent-color);
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

.add-modal .add-button {
  padding: 5px 18px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--smokywhite);
  background-color: var(--accent-color);
  align-self: flex-end;
  cursor: pointer;
}

.add-modal .FormInput {
  margin: 0 0 15px 0;
}

/* FormInput */
.FormInput {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.FormInput label {
  font-size: 1.1rem;
  color: var(--text-accent-color);
}

.FormInput input {
  padding: 5px;
  border: 3px solid var(--border-color);
  font-size: 1.4rem;
  color: var(--smokywhite);
  background-color: var(--text-edit-bg-color);
}

.FormInput input:focus {
  outline: none;
}

/* ItemContainer */
.ItemContainer {
  min-height: 80vh;
  padding: 20px;
  background-color: var(--document-bg-color);
}

/* Section */
.section {
  margin: 20px 0;
  box-shadow: 0 3px 12px var(--shadow-color);
  background: var(--component-bg-gradient);
  display: flex;
  justify-content: space-between;
}

.section .content {
  width: 100%;
  padding: 10px;
}

.section .content .item-title {
  margin: 5px 0;
  color: var(--text-accent-color);
}

.section .item-delete-button {
  border: none;
  font-size: 1.2rem;
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
}

/* ImageSection */
.ImageSection img {
  background-color: var(--smokywhite);
  width: 500px;
}